code.prism-code .token-line.highlight-line {
  background-color: var(--code-color-line);
  display: block;
  margin-right: -1em;
  margin-left: -1em;
  padding-right: 1em;
  padding-left: 0.75em;
  border-left: 0.25em solid var(--code-color-bg);
  border-right: 0.25em solid var(--code-color-bg);
}
